*{
    margin: 0;
    padding: 0;
}

.style-darkmode{
  h1{
    color: white;
  }
}

.todo-main{
    position: relative;
    width: 100%;
    height: 100%;
    height: auto;
}

.todo-image{
  width: 100%;
  height: 100%;

  img{
    width: 100%;
  }
}



.todo-content{
  position: absolute;
  top: 60px;
  width: 100%;
  display:flex;
  flex-direction: column;
}

.content{
  width: 30%;
  margin: auto;
}

.todo-content-title{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;


  img{
    width: 5%;
    height: 5%;
  }
}