<div class="input-main" [ngClass]="{'style-darkmode': isDarkMode}">
    <div class="input-radio-button">
        <label class="container">
            <input type="checkbox" [(ngModel)]="isChecked" (change)="checked()"> 
            <span class="checkmark"></span>
          </label>
    </div>
    <div class="input-text">
        <input
        type="text"
        [(ngModel)]="itemText"
        id="inputText"
        placeholder="Create a new to do"
        (keyup.enter)="addItem()"
        >
    </div>
</div>
