<h1>List Products</h1>
<select [(ngModel)]="filterCategory" (change)="onCategoryChange()">
  <option value="">All Categories</option>
  <option *ngFor="let category of categorys" [value]="category">{{category}}</option>
</select>
<input type="text" [(ngModel)]="searchQuery" (keyup.enter)="search()"/>
<button (click)="search()">Search</button>
<ul>
  <li *ngFor="let product of filteredProducts"
      [ngClass]="{
        'color-price-1': product.price > 200000 && product.price < 40000000,
        'color-price-2': product.price <= 200000,
        'color-price-3': product.price >= 40000000
      }"
  >
    <h2>{{ product.name }}</h2>
    <p>Description: {{ product.description }}</p>
    <p>Price: {{ product.price }}</p>
    <p>Category: {{ product.category }}</p>
  </li>
</ul>