@media screen and (max-width: 400px) {
  .h1 {
    font-size: 12px;
  }
}

.header {
  position: relative;
  width: 100%;
  height: auto;
}

.img-header {
  width: 100%;
  height: auto;
}

.img-header img {
  width: 100%;
  height: auto;
}

.cover-title {
  width: 100%;
  text-align: center;
}

.title {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 7%;
  padding-left: 22%;
}

h1 {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
}

.img-moon {
  width: 50%;
  height: 100%;
}

.img-moon img {
  width: 5%;
}
