*{
    margin: 0;
    padding: 0;
}
.input {
    position: absolute;
    transform: translateY(-180%);
    width: 100%;
    display: flex;
    align-items: center; /* Canh dọc các phần tử vào trung tâm */
    justify-content: center;
  }

  .input-border{
    width: 40%;
    height: 64px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    
  }
  
  .input-item {
    width: 100%;
    height: 100%;
  }
  
  .input-item input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
  }
  
  .radio-button {
    margin-right: 5%;
    margin-left: 2%;
    width: 16px;
    height: 16px;
    border: 2px solid #ccc;
    border-radius: 50%;
    outline: none;
  }