<div class="menu-main">
    <div class="menu-header">
        <img src="../assets/logo.svg" alt="movieIncon">
    </div>
    <div class="menu-body">
        <div class="menu-icon">
            <img src="../assets/icon-nav-home.svg" alt="homeIcon">
            <img src="../assets/icon-category-movie.svg" alt="movieIncon">
            <img src="../assets/icon-category-tv.svg" alt="tvIncon">
            <img src="../assets/icon-bookmark-full.svg" alt="bookmarkIncon">
        </div>
        <div class="avatar">
            <img src="../assets/image-avatar.png" alt="avatarIcon">
        </div>
        
    </div>
</div>
